@import 'modules/global.scss';

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow: auto;
}

footer {
    flex-shrink: 0;
}

#app {
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.leaflet-popup-content {
    text-align: center;
    
    header {
        font-weight: bold;
    }
}