<!-- SCRIPTS -->

<!-- vuejs -->
<script type="text/javascript" src="frameworks/vuejs/vue.js"></script>
<!-- <script type="text/javascript" src="frameworks/vuejs/vue.min.js"></script> -->

<!-- axios -->
<script type="text/javascript" src="frameworks/axios/axios.js"></script>
<!-- <script type="text/javascript" src="frameworks/axios/axios.min.js"></script> -->

<!-- leaflet -->
<script type="text/javascript" src="frameworks/leaflet/leaflet.js"></script>

<script type="module" src="js/main.js"></script>
