<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="frameworks/jquery/jquery.js"></script>
<!-- <script type="text/javascript" src="frameworks/jquery/jquery.min.js"></script> -->
<!-- vuejs -->
<script type="text/javascript" src="frameworks/vuejs/vue.js"></script>
<!-- <script type="text/javascript" src="frameworks/vuejs/vue.min.js"></script> -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="frameworks/mdb/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="frameworks/mdb/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="frameworks/mdb/js/mdb.min.js"></script>

<!-- axios -->
<script type="text/javascript" src="frameworks/axios/axios.js"></script>
<!-- <script type="text/javascript" src="frameworks/axios/axios.min.js"></script> -->

<!-- vue-tables-2 -->
<script type="text/javascript" src="frameworks/vue-table-2/vue-tables.js"></script>
<!-- <script type="text/javascript" src="frameworks/vue-table-2/vue-tables-2.min.js"></script> -->

<script type="module" src="js/main.js"></script>
