extends fabric/base.html.pug

block main
    <h1>TD2</h1>

    <div id="app">
        <Mapp v-if="pointsInterests" :initial-pos="initialPosition" :pins="pointsInterests"></Mapp>
        <p v-else>Loading data</p>
    </div>
