extends fabric/base.html.pug

block main
    <div id="title">
        <h1>Gestion de données: TD2</h1>
    </div>

    <div id="app">
        <Mapp v-if="pointsInterests" :initial-pos="initialPosition" :pins="pointsInterests"></Mapp>
        <p v-else>Loading data</p>
    </div>
